<div class="container">
    <h1 class="mt-3">Edit Category</h1>

    <ng-container *ngIf="category;else notFound">
        <form #form="ngForm" (ngSubmit)="onFormSubmit()">
            <div class="mt-2">
                <div class="mt-3">
                    <!--value="{{category.id}}" tanımlamak yerine iki yönlü data transferi için şunu kullamnıyoruz  [(ngModel)]="category.id" -->
                    <label for="categoryId" class="form-label">CategoryId</label>
                    <input type="text" disabled id="categoryId" class="form-control" name="categoryId" [(ngModel)]="category.id">
                    <label for="categoryName" class="form-label">Category Name</label>
                    <input type="text" id="categoryName" class="form-control" name="categoryName" [(ngModel)]="category.name" >
                    <label for="urlHandle" class="form-label">urlHandle</label>
                    <input type="text" id="urlHandle" class="form-control" name="urlHandle" [(ngModel)]="category.urlHandle" >
                </div>
                <div class="mt-3 d-flex">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-danger ms-3" (click)="onDelete()">Delete</button>
                </div>
            </div>
        </form>
    </ng-container>

    <ng-template #notFound>
        <div class="alert alert-warning" role="alert">
            Category not found sorry!
        </div>
    </ng-template>

</div>